@model IEnumerable<BooksOnline.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .book:hover {
        background-color: ghostwhite;
    }

    .book-details {
        margin-top: -120px;
        margin-left: 160px;
    }z
</style>

<h2>Books you may like:</h2>
@foreach (var book in Model)
{
    <hr />
    <div class="book">
        <img src="@book.Url" width = "120px"/>
        <div class="book-details">
            <h3>@book.Name</h3>
            <p><em>ISBN:</em> @book.Isbn</p>
            <p><em>Author:</em> @book.Author</p>
        </div>
    </div>
}